.App {
  height:1000px;
  background-color: #F6F2FF;
  
}

.App-header {
  margin-left: 50px;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: #179DDE;
}

.blockInfo{
  border-collapse: separate;
  border-spacing: 15px;
  table-layout: auto;
  vertical-align: text-top;
  margin: 50px;
}

h4 {
  margin-left: 70px;
}

.blockInfo td {
  vertical-align: top;
  padding-right: 20px;
  border-collapse: separate;
  border-spacing: 15px;

}

.blocks {
  margin: 50px;
  
}

.generateButton {
  height: 50px;
  font-size: 15px;
  background-color: rgb(102, 51, 153, 0.3);
  border-radius: 8px;
  color: black;
  border-color: black;
  font-family: inherit;
  padding: 10px;
  margin-right: 10px;
  width: 245px;
}

.updateBlock{
  height: 30px;
  font-size: 15px;
  background-color: rgb(102, 51, 153, 0.3);;
  border-radius: 8px;
  color: black;
  border-color: black;
  font-family: inherit;
  margin-right: 10px;
  width: 100%;
}

.hide {
  display: none;
}

.line {
  border: 3px solid black;
  width: 50px;
  padding: 0;
}


.textbox {
  padding: 10px;
  height: max-content;
  position: 0;
  left: 0;
  outline: none;
  border: 1px solid #cdcdcd;
  border-color: rgba(0,0,0,.15);
  background-color: white;
  font-size: 16px;
  max-width: 480px;
}

.blockbox {
  padding: 10px;
  height: max-content;
  position: relative;
  left: 0;
  outline: none;
  border: 1px solid #cdcdcd;
  border-color: rgba(0,0,0,.15);
  background-color: rgb(102, 51, 153, 0.7);;
  font-size: 16px;
  max-width: 150px;
  min-width: 170px;
  max-height: 300px;
  min-height: 150px;
  text-align: center;
  overflow-wrap: break-word;
  font-size: 14px;
}

.messageBox {
  padding: 10px;
  height: max-content;
  position: relative;
  left: 0;
  outline: none;
  border-color: rgba(0,0,0,.15);
  background-color: white;
  text-align: center;
  overflow-wrap: break-word;
  font-size: 14px;
  width: 100%;
  max-width: 180px;
}


.textfield {
  width: 500px;
  min-width: 200px;
  background-color: white;
  border-color: #15cdfc;
  
}

.info:hover + .hide {
  display: block;
  color: black
}

.info:hover + .hide {
  display: block;
  color: black
}

.hackinputData {
  max-width: 80px;
  padding: 2px;
  margin: 7px;
  background-color: #F6F2FF;
}

.hackinputSN {
  max-width: 34px;
  padding: 2px;
  margin: 7px;
  background-color: #F6F2FF;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
