.App {
  height:1600px;
  background-color: #EEEEEE;
  background-size: cover;
  
}

.App-header {
  margin-left: 50px;
  margin-bottom: 20px;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: #6FB2D2;
}

.blockInfo{
  border-collapse: separate;
  border-spacing: 15px;
  table-layout: auto;
  vertical-align: text-top;
  margin-left: 50px;
  margin-bottom: 20px;
}

.hashInfo {
  margin-left: 70px;
  margin-bottom: 20px;
}

.information {
  top: 200px;
  left: 950px;
  margin-right: 100px;
  position: absolute;
}

.information2 {
  top: 500px;
  left: 950px;
  margin-right: 100px;
  position: absolute;
}


.informationHacker {
  left: 70px;
  margin-left: 50px;
  margin-top: 50px;
  margin-right: 50px;
}

.tablefixed td{
  width: 1000px;
  vertical-align: text-top;
}


h4{
  margin-left: 70px;
}

.about {
  margin-left: 50px;
}

.valid {
  color: #85C88A;
}

.invalidHash {
  color: #E85D5D;
}

.blockInfo td {
  vertical-align: auto;
  border-collapse: separate;

}

.blocks {
  margin-left: 50px;
  margin-top: 20px;
  
}

.generateButton {
  height: 50px;
  font-size: 15px;
  background-color: #EBD671;
  border-radius: 8px;
  color: black;
  border-color: black;
  font-family: inherit;
  padding: 10px;
  margin-right: 10px;
  width: 245px;
}

.updateBlock{
  height: 30px;
  font-size: 15px;
  background-color: #EBD671;;
  border-radius: 8px;
  color: black;
  border-color: black;
  font-family: inherit;
  margin-right: 10px;
  width: 100%;
}

.description{
  height: 30px;
  font-size: 12px;
  background-color: #EBD671;;
  border-radius: 8px;
  color: black;
  border-color: black;
  font-family: inherit;
  margin-right: 10px;
  width: 100%;
}

.hide {
  display: none;
}

.line {
  border: 3px solid black;
  width: 50px;
  padding: 0;
}


.textbox {
  padding: 10px;
  height: max-content;
  position: 0;
  left: 0;
  outline: none;
  border: 1px solid #cdcdcd;
  border-color: rgba(0,0,0,.15);
  background-color: white;
  font-size: 16px;
  max-width: 480px;
}

.blockbox {
  padding: 10px;
  height: max-content;
  position: relative;
  left: 0;
  outline: none;
  border: 1px solid #cdcdcd;
  border-color: rgba(0,0,0,.15);
  background-color: #85C88A;
  font-size: 16px;
  max-width: 150px;
  min-width: 170px;
  max-height: 300px;
  min-height: 150px;
  text-align: center;
  overflow-wrap: break-word;
  font-size: 14px;
}

.blockboxHacker {
  padding: 10px;
  height: max-content;
  position: relative;
  left: 0;
  outline: none;
  border: 1px solid #cdcdcd;
  border-color: rgba(0,0,0,.15);
  background-color: #85C88A;
  font-size: 16px;
  min-width: 240px;
  min-height: 240px;
  max-width: 230px;
  max-height: 230px;
  text-align: center;
  overflow-wrap: break-word;
  font-size: 14px;
}

.invalid {
  background-color: #E85D5D;
}

.messageBox {
  padding: 10px;
  height: max-content;
  position: relative;
  left: 0;
  outline: none;
  border-color: rgba(0,0,0,.15);
  background-color: transparent;
  text-align: center;
  overflow-wrap: break-word;
  font-size: 14px;
  width: 100%;
  max-width: 180px;
}


.textfield {
  width: 500px;
  min-width: 200px;
  background-color: white;
  border-color: #15cdfc;
  
}

.info:hover + .hide {
  display: block;
  color: black
}

.info:hover + .hide {
  display: block;
  color: black
}

.hackinputData {
  max-width: 200px;
  padding: 2px;
  margin: 7px;
  background-color: transparent;
  border-radius: 6px;
}

.hackinputSN {
  max-width: 120px;
  padding: 2px;
  margin: 7px;
  background-color: transparent;
  border-radius: 6px
}

.hackinputPH{
  overflow-wrap: break-word;
  padding: 2px;
  margin: 7px;
  background-color: transparent;
  border-radius: 6px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
